<html>

<head>
    <title>temDB - Database</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script src="js/index.js"></script>

<body>
  <center>
    <h1>Database Viewer</h1>
    <input type="text" placeholder="Authorization Code" id="sessionCode">
    <input type="button" value="Submit" onclick="authorize()">
  </center>
</body>

</html>