<html>

<head>
    <title>temDB</title>
    <link rel="stylesheet" href="stylesheets/index.css">
</head>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script src="js/index.js"></script>

<body>
    <center>
      <h1>temDB</h1>
      <span><a href='/databaseView'>Database Viewer</a></span>
    </center>
</body>

</html>